/* Media Queries */
@media only screen and (min-width: 560px) and (max-width: 768px) {
  .purple-background {
    height: 14rem;
  }
  .cards {
    max-width: 80%;
  }
  .card-front,
  .card-back {
    height: 10rem;
    width: 24rem;
  }
  .card-back {
    right: -8rem;
  }
  .logo,
  .card-no,
  .card-holder-details {
    left: 3.8rem;
  }
  .card-holder-details p,
  .cvc {
    font-size: 0.7rem;
    font-weight: 300;
  }
  .logo {
    height: 1.8rem;
  }
  .card-no {
    top: 5.5rem;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
  .card-holder-details {
    top: 8.5rem;
  }
  .expiry-date {
    right: 5rem;
  }
  .cvc {
    top: 4.5rem;
    right: 8rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1340px) {
  main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
  }
  .purple-background {
    background: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15rem;
    height: 100vh;
    margin-bottom: 0;
    display: grid;
    place-content: center;
  }
  .cards {
    max-width: none;
    max-height: none;
    height: 17rem;
    width: 31rem;
  }
  .card-front,
  .card-back {
    height: 9.611rem;
    width: 17.833rem;
  }
  .card-front {
    top: 0;
    left: 10rem;
  }
  .card-back {
    top: 11rem;
    left: 12rem;
  }
  .logo,
  .card-no,
  .card-holder-details {
    left: 1rem;
  }
  .logo {
    height: 1.9rem;
    top: 1rem;
  }
  .card-no {
    top: 5rem;
    font-size: 1.18rem;
    letter-spacing: 3px;
  }
  .card-holder-details {
    top: 1rem;
  }
  .card-holder-details p,
  .cvc {
    font-size: 0.6rem;
  }
  .name,
  .expiry-date {
    top: 7rem;
  }
  .name {
    left: 0;
  }
  .expiry-date {
    right: 0rem;
  }
  .cvc {
    top: 4.3rem;
    right: 3rem;
  }
  .form-container {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    margin-left: 5rem;
  }
  .card-form {
    width: 70%;
  }
  .complete-state {
    width: 100%;
  }
  .complete-state img {
    width: 3rem;
  }
  .complete-state h1 {
    font-weight: 300;
  }
}
@media only screen and (min-width: 1340px) and (max-width: 2000px) {
  main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
  }
  .purple-background {
    background: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 100vh;
    margin-bottom: 0;
    display: grid;
    place-content: center;
  }
  .cards {
    max-width: none;
    max-height: none;
    height: 25rem;
    width: 25rem;
  }
  .card-front,
  .card-back {
    max-height: 16.97vw;
    max-width: 31.04vw;
    height: 13.611rem;
    width: 24.833rem;
  }
  .card-front {
    top: 0;
    left: 8rem;
  }
  .card-back {
    top: 15rem;
    left: 12rem;
  }
  .logo,
  .card-no,
  .card-holder-details {
    left: 1.5rem;
  }
  .logo {
    height: 2.5rem;
    top: 1.5rem;
  }
  .card-no {
    top: 8rem;
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .card-holder-details {
    top: 1.4rem;
  }
  .card-holder-details p,
  .cvc {
    font-size: 0.8rem;
  }
  .name,
  .expiry-date {
    top: 10rem;
  }
  .name {
    left: 0;
  }
  .expiry-date {
    right: 1rem;
  }
  .cvc {
    top: 6rem;
    right: 3rem;
  }
  .form-container {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
  }
  .complete-state {
    width: 100%;
  }
  .complete-state img {
    width: 3rem;
  }
  .complete-state h1 {
    font-weight: 300;
  }

  .card-form {
    width: 50%;
  }
}

@media only screen and (min-width: 2000px) {
  main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: space-between;
  }
  .purple-background {
    background: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    height: 100vh;
    margin-bottom: 0;
    display: grid;
    place-content: center;
  }
  .cards {
    max-width: none;
    max-height: none;
    height: 25rem;
    width: 0vw;
  }
  .card-front,
  .card-back {
    max-height: 16.97vw;
    max-width: 31.04vw;
    height: 13.611rem;
    width: 24.833rem;
  }
  .card-front {
    top: 0;
    left: 8rem;
  }
  .card-back {
    top: 15rem;
    left: 12rem;
  }
  .logo,
  .card-no,
  .card-holder-details {
    left: 1.5rem;
  }
  .logo {
    height: 2.5rem;
    top: 1.5rem;
  }
  .card-no {
    top: 8rem;
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .card-holder-details {
    top: 1.4rem;
  }
  .card-holder-details p,
  .cvc {
    font-size: 0.8rem;
  }
  .name,
  .expiry-date {
    top: 10rem;
  }
  .name {
    left: 0;
  }
  .expiry-date {
    right: 1rem;
  }
  .cvc {
    top: 6rem;
    right: 3rem;
  }
  .form-container {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
  }
  .complete-state {
    width: 100%;
  }
  .complete-state img {
    width: 3rem;
  }
  .complete-state h1 {
    font-weight: 300;
  }

  .card-form {
    width: 75%;
  }
}
