/* Media Queries */
@media only screen and (min-width: 480px) {
  main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content:space-between; 
  }
  .purple-background {
    background: url("./images/bg-main-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25rem;
    height: 100vh;
    margin-bottom: 0;
    display: grid;
    place-content: center;
  }
  .cards {
    max-width: none;
    max-height: none;
    height: 25rem;
    width: 6rem;
  }
  .card-front,
  .card-back {
    height: 13.6111rem;
    width: 24.8333rem;
  }
  .card-front {
    top: 0;
    left: 0;
  }
  .card-back {
    top: 15rem;
    left: 5rem;
  }
  .logo {
    height: 2.5rem;
    top: 1.5rem;
    left: 1.5rem;
  }
  .card-no {
    top: 8rem;
    left: 1.5rem;
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  .card-holder-details {
    top: 1.4rem;
    left: 1.5rem;
  }
  .card-holder-details p, 
  .cvc {
    font-size: .8rem;
  }
 .name, 
 .expiry-date {
  top: 10rem;
 }
  .name {
    left: 0;
  }
  .expiry-date {
    right: 1rem;
  }
  .cvc {
    top: 6rem;
    right: 3rem;
  }
  .form-container {
    display: grid;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center;
    
  }
  .card-form {
    width: 50%;
  }
}