:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
.purple-background {
  background: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; 
  height: 62vw;
  margin-bottom: 5rem;
  position: absolute;
  z-index: 2; 
}
.cards {
  max-width: 100%;
  height: 100%;
  position:relative;
  color: var(--white);
/*   z-index: 1; */
}
.card-front, 
.card-back {
  height: 38vw; 
  width: 70vw; 
}
.card-front {
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  top: 35vw;
  left: 5vw;
  z-index: 1; 
}
.card-back {
  background: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size:cover;
  position: absolute;
  top: 10vw;
  left: 22vw;
  /* z-index: 0; */
}
.logo,
.card-no,
.name,
.expiry-date {
  position: absolute;
}
.card-no {
  top: 20vw;
  left: 3vw;
  /* white-space: nowrap; */
}
.name,
.expiry-date {
  top: 30vw;
}
.expiry-date {
  left: 53.5vw;
}

.logo {
  width: 20%;
  margin-bottom: 2rem;
  top: 5vw;
  left: 3vw;
}
.card-holder-details p, 
.cvc {
  font-size: 0.7rem;
  font-weight: 300;

}
.name {
  text-transform: uppercase;
  position: absolute;
  left: 3vw;
}
.cvc {
  position: relative;
  top: 15vw;
  left: 50vw;
  color: var(--white);
}
.form-container {
  position: relative;
  z-index: 3;
  top:80vw;
}
legend {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--very-dark-violet);
}
input {
  color: var(--light-grayish-violet);
  font-size: .8rem;
  width: 100%;
  padding: .7rem;
  border: 1px solid var(--light-grayish-violet);
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  letter-spacing: 0;
}
.month,
.year {
  width: 42%;
}
.exp-date-field {
  width: 60%;
}
.cvc-no-field{
  width: 40%;
}

.error-message {
  color: red;
  display: none;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.error {
  display: block;
}
.btn {
  background-color: var(--very-dark-violet);
  font-size: 1rem;
  padding: 0.7rem;
  color: var(--white);
  width: 100%;
}
.btn:hover{
  background: linear-gradient(hsl(304, 44%, 19%), hsl(278, 71%, 11%));
  color: var(--white);
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* Media Queries */
@media only screen and (max-width: 480px) {


}